<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" /> -->
    <title>上海机场航空货运-机场快件-国内国际航空物流-浦东机场货运站-虹桥机场货运收货站</title>
    <meta name="description" content="上海机场货运站跨省8小时航空当日达,上海航空物流快件,机场当天发货跨省当天到达,虹桥机场和浦东机场货运部针对个人和企业推出的特急文件空运、航空快递、航空快件、航空快运、上海空运服务，航站楼随机航空件,集合各大航空公司优势提供方便、快捷、高效上海航空货运公司物流一体化服务.">
    <script src="./js/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="./js/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="./js/layui/layui.js" type="text/javascript"></script>
    <link type="text/css" rel="styleSheet" href="./js/layui/css/layui.css" />
    <link type="text/css" rel="styleSheet" href="./css/index.css" />
    <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
<script>     var _hmt = _hmt || [];     (function() {         
    var hm = document.createElement("script");      
      hm.src = "https://hm.baidu.com/hm.js?c5091190c07e4d9dc60fdb53f075a8e5";         var s = document.getElementsByTagName("script")[0];          s.parentNode.insertBefore(hm, s);     })();     </script> </head>

<body>
    <div class="nav">
        <div class="navs">
            <div class="space-between iconPhone">
                <div class="avicon">
                    <img class="aviconimg" src="./img/officialicon2.png" alt="">
                </div>
                <div class="avPhone">
                      <a href="##" style="color:red" class="font19"><img class="phone_img" src="./img/phone.png" alt="">400-807-6756</a>
                </div>
            </div>
            <div class="space-between navsearch">
                <div class="navlist">
                    <ul class="layui-nav" lay-filter="">
                        <li class="layui-nav-item"><a href="">首页</a> </li>
                        <li class="layui-nav-item"><a href="./page/eal-ceair.html">关于我们</a>
                            <dl class="layui-nav-child">
                                <dd> 
                                    <a href="./page/eal-ceair.html">公司简介</a>
                                </dd>
                                <dd> 
                                    <a href="./page/culture.html">企业文化</a>
                                </dd>
                            </dl>  
                        </li>
                        <li class="layui-nav-item"><a href="./page/solution/bidingbook.html">机场货运解决方案</a>
                                <dl class="layui-nav-child">
                                    <dd> 
                                        <a href="./page/solution/bidingbook.html">机场标书空运</a>
                                    </dd>
                                    <dd> 
                                        <a href="./page/solution/instrument.html">机场仪器空运</a>
                                    </dd>
                                    <dd> 
                                        <a href="./page/solution/frozenfood.html">机场冻品空运</a>
                                    </dd>
                                    <dd> 
                                        <a href="./page/solution/clothing.html">机场服装空运</a>
                                    </dd>
                                    <dd> 
                                        <a href="./page/solution/redwine.html">机场红酒空运</a>
                                    </dd>
                                    <dd> 
                                        <a href="./page/solution/cosmetics.html">机场化妆品空运</a>
                                    </dd>
                                    <dd> 
                                        <a href="./page/solution/furniture.html">机场家具空运</a>
                                    </dd>
                                    <dd> 
                                        <a href="./page/solution/milk.html">机场牛奶空运</a>
                                    </dd>
                                    <dd> 
                                        <a href="./page/solution/plasticparticle.html">机场塑料粒子空运</a>
                                    </dd>
                                    <dd> 
                                        <a href="./page/solution/alive.html">机场鲜活空运</a>
                                    </dd>
                                    <dd> 
                                        <a href="./page/solution/drug.html">机场药品空运</a>
                                    </dd>
                                    <dd> 
                                        <a href="./page/solution/exhibits.html">机场展品空运</a>
                                    </dd>
                                    <dd> 
                                        <a href="./page/solution/chartered.html">机场货运包机</a>
                                    </dd>
                                </dl>
                           </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">产品与服务</a>
                            <dl class="layui-nav-child">
                                <dd> 
                                    <a href="##">国内航空货运</a>
                                    <ul>
                                        <li>
                                            <dl class="layui-nav-child">
                                                <dd><a href="./page/inland/intraday.html">航空物流当天达</a></dd>
                                                <dd><a href="./page/inland/morrow.html">航空物流次日达</a></dd>
                                                <dd><a href="./page/inland/tertian.html">航空物流隔日达</a></dd>
                                                <dd><a href="./page/inland/delivery.html">空陆运输联运配送</a></dd>
                                                <dd><a href="./page/inland/inlandoffer.html">国内航空报价</a></dd>
                                            </dl>
                                        </li>
                                    </ul>
                                </dd>
                                <dd><a href="##">国际航空货运</a>
                                    <ul>
                                            <li>
                                                <dl class="layui-nav-child">
                                                    <dd><a href="./page/foreign/business.html">业务介绍</a></dd>
                                                    <dd><a href="./page/foreign/standardizing.html">标准化服务</a></dd>
                                                    <dd><a href="./page/foreign/inform.html">航空托运须知</a></dd>
                                                    <dd><a href="./page/foreign/embargo.html">禁运品告知</a></dd>
                                                    <dd><a href="./page/foreign/foreignoffer.html">国际航空报价</a></dd>
                                                </dl>
                                            </li>
                                        </ul>
                                </dd>
                                <dd><a href="##">增值服务</a>
                                    <ul>
                                            <li>
                                                <dl class="layui-nav-child">
                                                    <dd><a href="./page/insured.html">航空货运保险</a></dd>
                                                    <dd><a href="./page/pack.html">航空货运包装</a></dd>
                                                    <dd><a href="./page/pickup.html">上门取件</a></dd>
                                                    <dd><a href="./page/gathering.html">代收货款</a></dd>
                                                    <dd><a href="./page/receipt.html">回单服务</a></dd>
                                                    <dd><a href="./page/shortnote.html">短信贴心提醒</a></dd>
                                                </dl>
                                            </li>
                                    </ul></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item"><a href="./page/news/news.html">新闻</a></li>
                        <li class="layui-nav-item"><a href="./page/relation/relationus.html">联系我们</a>
                            <dl class="layui-nav-child">
                                <dd> 
                                    <a href="./page/relation/relationus.html">联系我们</a>
                                </dd>
                                <dd> 
                                    <a href="./page/relation/onlinebooking.html">在线订舱</a>
                                </dd>
                            </dl>  
                    </ul>
                </div>
                <div class="search">
                    <input type="text" placeholder="Search">
                    <a href="##"><img class="search_img" src="./img/search.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="carouseldiv">
        <div class="layui-carousel" id="banner">
            <div carousel-item>
                <div class="banner_img">
                    <img class="banner_img" src="./img/ban-1.jpg">
                </div>
                <div class="banner_img">
                    <img class="banner_img" src="./img/ban-2.jpg">
                </div>
                <div class="banner_img">
                    <img class="banner_img" src="./img/ban-3.jpg">
                </div>
                <div class="banner_img">
                    <img class="banner_img" src="./img/ban-4.jpg">
                </div>
                <div class="banner_img">
                    <img class="banner_img" src="./img/ban-5.jpg">
                </div>
                
            </div>
        </div>
       
        <div class="contentwidth carouseCard">
            <div>
                <!-- <span class="font31 lineheight80"> 上海航空物流</span> -->
            </div>
            <div class="space-between">
                <div class="carouseCards">
                    <div class="carouseCards_head">
                        <div class="carouseCards_head_img touming"></div>
                        <div class="carouseCards_head_fonts">
                            <div><span class="font18">机场货运解决方案</span></div>
                            <div class="lineheight30"><a href="./page/solution/bidingbook.html">查看更多
                                <img class="jiantou" src="./img/jiantou2.png" alt="">
                            </a></div>
                        </div>
                    </div>
                    <div class="carouse_content space-between">
                        <div class="carouse_contents">
                            <div class="flex-start">
                                <div>
                                    <!-- <img class="smalljiantou" src="./img/smalljiantou.png" alt=""> -->
                                </div>
                                <a href="./page/solution/bidingbook.html">机场标书空运</a>
                            </div>
                            <div class="flex-start">
                                <div></div>
                                <a href="./page/solution/instrument.html">机场仪器空运</a>
                            </div>
                            <div class="flex-start">
                                <div></div>
                                <a href="./page/solution/frozenfood.html">机场冻品空运</a>
                            </div>
                            <div class="flex-start">
                                <div></div>
                                <a href="./page/solution/clothing.html">机场服装空运</a>
                            </div>
                            <div class="flex-start">
                                <div></div>
                                <a href="./page/solution/redwine.html">机场红酒空运</a>
                            </div>
                            <div class="flex-start">
                                <div></div>
                                <a href="./page/solution/cosmetics.html">机场化妆品空运</a>
                            </div>
                        </div>
                        <div class="carouse_contents">
                            <div class="flex-start">
                                <div></div>
                                <a href="./page/solution/furniture.html">机场家具空运</a>
                            </div>
                            <div class="flex-start">
                                <div></div>
                                <a href="./page/solution/milk.html">机场牛奶空运</a>
                            </div>
                            <div class="flex-start">
                                <div></div>
                                <a href="./page/solution/plasticparticle.html">机场塑料粒子空运</a>
                            </div>
                            <div class="flex-start">
                                <div></div>
                                <a href="./page/solution/alive.html">机场鲜活空运</a>
                            </div>
                            <div class="flex-start">
                                <div></div>
                                <a href="./page/solution/drug.html">机场药品空运</a>
                            </div>
                            <div class="flex-start">
                                <div></div>
                                <a href="./page/solution/exhibits.html">机场展品空运</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carouseCards">
                    <div class="carouseCards_head2">
                        <div class="carouseCards_head_img touming"></div>
                        <div class="carouseCards_head_fonts">
                            <div><span class="font18">机场货运增值服务</span></div>
                            <div class="lineheight30"><a href="./page/insured.html">查看更多
                                <img class="jiantou" src="./img/jiantou2.png" alt="">
                            </a></div>
                        </div>
                    </div>

                    <div class="carouse_content space-between">
                        <div class="carouse_contents">
                            <div class="flex-start">
                                <div></div>
                                <a href="./page/insured.html">航空货运保险</a>
                            </div>
                            <div class="flex-start">
                                <div></div>
                                <a href="./page/pickup.html">上门取件</a>
                            </div>
                            <div class="flex-start">
                                    <div></div>
                                    <a href="./page/receipt.html">回单服务</a>
                                </div>
                        </div>
                        <div class="carouse_contents">
                            <div class="flex-start">
                                <div></div>
                                <a href="./page/pack.html">航空货运包装</a>
                            </div>
                            <div class="flex-start">
                                <div></div>
                                <a href="./page/gathering.html">代收货款</a>
                            </div>
                            <div class="flex-start">
                                <div></div>
                                <a href="./page/shortnote.html">短信贴心提醒</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carouseCards">
                    <div class="carouseCards_head3">
                        <div class="carouseCards_head_img touming"></div>
                        <div class="carouseCards_head_fonts">
                            <div><span class="font18">中国/国际货运</span></div>
                            <div class="lineheight30"><a href="./page/inland/intraday.html">查看更多
                                <img class="jiantou" src="./img/jiantou2.png" alt="">
                            </a></div>
                        </div>
                    </div>
                    <div class="carouse_content space-between">
                        <div class="carouse_contents">
                            <div class="flex-start">
                                <div></div>
                                <a href="./page/foreign/inform.html">航空货物运输须知</a>
                            </div>
                            <div class="flex-start">
                                <div></div>
                                <a href="./page/solution/chartered.html">货物空运包机</a>
                            </div>
                            <div class="flex-start">
                                <div></div>
                                <a href="./page/inland/delivery.html">空陆运输联运配送</a>
                            </div>
                        </div>
                        <div class="carouse_contents">
                            <div class="flex-start">
                                <div></div>
                                <a href="./page/inland/intraday.html">航空物流当天达</a>
                            </div>
                            <div class="flex-start">
                                <div></div>
                                <a href="./page/foreign/standardizing.html">国际航空物流运输服务</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content2">
        <div class="content2_img">
            <img class="content2_img" src="./img/descopera_experienta_tarom4.jpg" alt="">
        </div>
        <div class="content2_content space-between">
            <!-- <div class="content2_content_font fontcolorfff margintop110">
                <p class="font45 lineheight50 ">上海空运</p>
                <p class="font45 lineheight50 bold">航空物流</p>
            </div> -->
            <div class="content2_content_card ">
                <div class="space-around">
                    <div class="content2_content_cards">
                        <img class="content2_content_cards_image" src="./img/experience_cnt_img_1_0.jpg" alt="">
                        <div class="content2_content_cards_title">
                            <div class="font16 fontcolorblue">机场货运当天达</div>
                            <div class="flex-start"><a class="fontcolorblue2 lineheight25" href="./page/inland/intraday.html">阅读更多
                                    <!-- <img class="jiantou" src="./img/jiantou.png" alt=""> -->
                                </a><div></div></div>
                        </div>
                    </div>
                    <div class=" content2_content_cards">
                        <img class="content2_content_cards_image" src="./img/experience-2_0.jpg" alt="">
                        <div class="content2_content_cards_title">
                            <div class="font16 fontcolorblue">机场货运次日达</div>
                            <div class="flex-start"><a class="fontcolorblue2 lineheight25" href="./page/inland/morrow.html">阅读更多
                                        <!-- <img class="jiantou" src="./img/jiantou.png" alt=""> -->
                                    </a><div></div></div>
                        </div>
                    </div>
                </div>
                <div class="space-around">
                    <div class=" content2_content_cards">
                        <img class="content2_content_cards_image" src="./img/meals_-_teaser_smaller.jpg" alt="">
                        <div class="content2_content_cards_title">
                            <div class="font16 fontcolorblue">机场货运隔日达</div>
                            <div class="flex-start"><a class="fontcolorblue2 lineheight25" href="./page/inland/tertian.html">阅读更多
                                        <!-- <img class="jiantou" src="./img/jiantou.png" alt=""> -->
                                    </a><div></div></div>
                        </div>
                    </div>
                    <div class=" content2_content_cards">
                        <img class="content2_content_cards_image" src="./img/meniu_surpriza_282x140_0.jpg" alt="">
                        <div class="content2_content_cards_title ">
                            <div class="font16 fontcolorblue">航空货运空陆联运配送</div>
                            <div class="flex-start"><a class="fontcolorblue2 lineheight25 " href="./page/inland/delivery.html">阅读更多
                                        <!-- <img class="jiantou" src="./img/jiantou.png" alt=""> -->
                                    </a><div></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content3">
        <div class="content3_center space-between">
            <div class="content3_card_width">
                <img class="content3_card_width_img" src="./img/sy-bj-1.jpg" alt="">
                <div class="content3_card_width_font_bg touming fontcolorfff">
                    <div class="content3_card_width_font">
                        <div class="font20">
                            <strong> <a class="fontcolorfff lineheight50" href="./page/foreign/inform.html">航空物流-航空货运须知事项
                                <img class="jiantou" src="./img/jiantou2.png" alt="">
                            </a></strong>
                        </div>
                        <div>
                            为小型货物和包裹提供的“指定航班”及“优先地面处理”等港到港航空运输服务。如未按指定航班出运，承诺全额赔偿航空运费【赔偿说明】。适用于单票计费重量在100公以下的普通货物…
                        </div>
                    </div>
                </div>
            </div>
            <div class="content3_card_width">
                <img class="content3_card_width_img" src="./img/sy-bj-2.jpg" alt="">
                <div class="content3_card_width_font_bg touming fontcolorfff">
                    <div class="content3_card_width_font">
                        <div class="font20">
                            <strong> <a class="fontcolorfff lineheight50" href="./page/solution/chartered.html">中国国际货运航空货运包机运输
                                    <img class="jiantou" src="./img/jiantou2.png" alt="">
                                </a></strong>
                        </div>
                        <div>
                            通过签署货物空运包机，以整架飞机的舱位按约定的条件和运价进行货物运输的系列服务，特别适用于大批量、客机腹舱超限、有特殊操作要求的货物。
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 新闻 -->
    <div class="content4" id="app">
        <div class="content4_content">
            
                <div class="font31 lineheight80">机场货运新闻中心</div>
                <div >
                <div class="content4_content_font flex-start flex-wrap" style="width: 94%;margin: 0px auto;">
                <template v-for="(item,index) in gridData" >
                    <template v-if="index<6">
                            <div class="content4_content_font_div">
                                    <a href="javascript:;" @click="newsclick(item)">
                                        <div class="font11">{{item.newsTime}}</div>
                                        <div class="font17 lineheight40 news_dian"> {{item.newsTitle}}</div>
                                    </a>
                                </div>
                        </template>
                       
                    </template>
                    <!-- <div class="content4_content_font_div" v-for="item in gridData" :key="item.id">
                        <a href="javascript:;" @click="newsclick(item)">
                            <div class="font11">{{item.newsTime}}</div>
                            <div class="font17 lineheight40"> {{item.newsTitle}}</div>
                        </a>
                    </div> -->
                </div>
                </div>

            <div class="content4_content_look ">
                <a @click="morenews()" class="fontcolorfff lineheight50 fontcolorblue2" href="##">查看最新动态
                                <img class="jiantou" src="./img/jiantou.png" alt="">
                            </a>
            </div>

        </div>
    </div>
    <div class="foot">
        <div class="foot_content">
            <div class="foot_content_phone">
                <img class="smalljiantouPhone" src="./img/smalljiantou.png" alt=""> <a class="fontcolorfff lineheight50 font16 fontcolorblue2" href="##">上海机场货运处电话：021-62718597
                        
                                    </a>

            </div>
            <div class="border-bottom "></div>
        </div>
        <div class="foot_bottom ">
            <div class="foot_nav space-between">
                <div class="foot_navs">
                    <div class="font16 lineheight40 fontcolorblue2">国内航空货运</div>
                    <div class="flex-start font13 lineheight30">
                        <div></div>
                        <a href="./page/inland/intraday.html">航空物流当天达</a>
                    </div>
                    <div  class="flex-start font13 lineheight30">
                        <div></div>
                        <a href="./page/inland/morrow.html">航空物流次日达</a>
                    </div>
                    <div class="flex-start font13 lineheight30">
                        <div></div>
                        <a href="./page/inland/tertian.html">航空物流隔日达</a>
                    </div>
                    <div  class="flex-start font13 lineheight30">
                        <div></div>
                        <a href="./page/inland/delivery.html">空陆运输联运配送</a>
                    </div>
                </div>
                <div class="foot_navs">
                    <div class="font16 fontcolorblue2 lineheight40">国际航空货运</div>
                    <div class="flex-start font13 lineheight30">
                        <div></div>
                        <a href="./page/foreign/business.html">业务介绍</a>
                    </div>
                    <div  class="flex-start font13 lineheight30">
                        <div></div>
                        <a href="./page/foreign/standardizing.html">标准化服务</a>
                    </div>
                    <div class="flex-start font13 lineheight30">
                        <div></div>
                        <a href="./page/foreign/inform.html">航空托运须知</a>
                    </div>
                    <div class="flex-start font13 lineheight30">
                        <div></div>
                        <a href="./page/foreign/embargo.html">禁运品告知</a>
                    </div>
                    <!-- <div  class="flex-start font13 lineheight30">
                        <div></div>
                        <a href="./page/foreign/foreignoffer.html">国际航空报价</a>
                    </div> -->
                </div>
                <div class="foot_navs">
                    <div class="font16 fontcolorblue2 lineheight40">成功案例</div>
                    <div class="flex-start font13 lineheight30">
                        <div></div>
                        <a href="./page/successfulcase/corporateability.html">上海机场空运公司有能力</a>
                    </div>
                    <div  class="flex-start font13 lineheight30">
                        <div></div>
                        <a href="./page/successfulcase/longfreight.html">超长超高航空货物运</a>
                    </div>
                    <div class="flex-start font13 lineheight30">
                        <div></div>
                        <a href="./page/successfulcase/panda.html">上海航空空运大熊猫</a>
                    </div>
                    <div  class="flex-start font13 lineheight30">
                        <div></div>
                        <a href="./page/successfulcase/sbconsign.html">上海航空物流世博会</a>
                    </div>
                </div>
                <div class="foot_navs">
                    <div class="font16 fontcolorblue2 lineheight40">关于我们</div>
                    <div class="flex-start font13 lineheight30">
                        <div></div>
                        <a href="./page/relation/relationus.html">联系我们</a>
                    </div>
                    <div  class="flex-start font13 lineheight30">
                        <div></div>
                        <a href="./page/eal-ceair.html">公司简介</a>
                    </div>
                    <div class="flex-start font13 lineheight30">
                        <div></div>
                        <a href="./page/culture.html">企业文化</a>
                    </div>
                </div>
                <div>
                    <p style="color: #607280;
                    font-size: 1rem;
                    height: 40px;
                    line-height: 40px;">客户服务部</p>
                    <img  style="width: 85px;    width: 85px;" src="./img/20190428.jpg" alt="二维码">
            </div>
            </div>
           
        </div>
        <div class="foot_yu">
            <p class="lineheight40 font11 textaligncenter">Copyright © 2018 机场货运 版权所有 
                <a href="##"  style="color:rgb(204, 0, 51);">网站建设备</a> <a href="##" style="color:rgb(204, 0, 51);">案号：沪ICP备18000251号</a>
            </p>
            <!--  <p class="lineheight30 font11 textaligncenter">航空货运电话：<a  style="color:rgb(204, 0, 51);" href="##">177-1789-0564</a></p> -->
        </div>
    </div>
</body>
<script>
    layui.define(['jquery', 'element', 'carousel', 'laypage'], function(exports) {
        var $ = layui.jquery,
            element = layui.element,
            carousel = layui.carousel,
            laypage = layui.laypage;

        //轮播渲染
        carousel.render({
            elem: '#banner',
            width: '100%',
            height: '790px',
            arrow: 'always',
            indicator: 'none'
        });
        //监听导航点击
        element.on('nav(demo)', function(elem){
        //console.log(elem)
        layer.msg(elem.text());
        });

    });
    var demo = new Vue({
      el: "#app",
      data:{
        gridData:[],
        apiUrl:'http://129.211.15.29:8001/admin',
        //apiUrl:'http://192.168.1.102:8001/admin',
        size: 10
      },
      created: function() {
      var that = this;
        //created  表示页面加载完毕，立即执行
        // this.pageHandler(1);
        this.$http
          .get(this.apiUrl + "/news/list", {
            params: { page: 1, size: that.size,newsTime:0 ,key:''}
          })
          .then(
            response => {
              var data = JSON.parse(JSON.stringify(response.data));
              if (data.code == 1) {
                // that.total = data.data.page.all_count;
                // console.log("成功" + JSON.stringify(data.data));
                var obj=data.data.list;
                obj.forEach((item, index) => {
                    var time=new Date(parseInt(item.newsTime)).toLocaleDateString().replace('/','-')
                  obj[index].newsTime = time.replace('/','-')
               });
                that.gridData = obj
              } else {
                console.log("服务器崩塌");
              }
            }
          )
          .catch(function(response) {
            console.log(response);
          });
      },
      methods: {
        newsclick(item){
            if(item){
                url = "./page/news/newdetail.html?&title="+item.newsTitle+'&content='+item.newsContent+'&imgurl='+item.imageUrl;//此处拼接内容
                window.location.href = url;
            }else{

            } 
        },
        morenews(){
            url = "./page/news/news.html"
            window.location.href = url;
        }
      },
    })
</script>
</html>