.content_wrap{
	display: flex;
}
.content_wrap .content{
	padding-left: 80px;
	padding-right: 176px;
	
}
.content h1{
	margin: 60px 0 56px 0;
	font-size: 44px;
}
.content p{
	display: block;
	font-size: 22px;
	letter-spacing: 1.5px;
	color: #626262;
	padding-bottom: 25px;
}
.airknow{
	background: url(../img/airknow.jpg) no-repeat center;
	min-height: 1400px;
}

