.banner_wrap{
	width: 100%;
	height: 1314px;
	position: relative;
}
.banner{
	background: url(../img/index_bg.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	position: absolute;
}
.banner_in{
	position: absolute;
}
header{
	display: flex;
	width: 100%;
	position: fixed;
				
}
header img{
	margin: 37px 0 10px 204px;
}
header .header_right{
	margin-top: 63px;
	position: fixed;
	right: 5%;
}
header .header_right a{
	font-family: "microsoft yahei";
	font-size: 36px;
	color: black;
}
header .header_right a:first-child{
	margin-right: 36px;
}

.banner_in nav{
	width: 398px;
	margin-top: 250px;
}

.banner_in nav ul li{
	text-align: right;
}
.banner_in nav ul li .two{
	font-family: "microsoft yahei";
	font-size: 48px;
	color: #ffffff;
	margin-bottom: 18px;
}

.banner_in nav ul li .five{
	font-family: "microsoft yahei";
	font-size: 30px;
	color: #ffffff;
	margin-bottom: 30px;
}
.map_wrap h1{
	font-size: 42px;
	color: #2D2D2D;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 88px;
}
.map_wrap .map{
	/* height: 650px; */
	/* border: 1px solid #ccc; */
	padding: 0 379px 0 379px;
	position: relative;
}
.map_wrap .worlds{
	background: url(../img/map/world.png) no-repeat center;
	width: 100%;
	height: 596px;
	border: 1px solid #ccc;
	overflow: hidden;
	
}

.map_wrap .map img{
	display: none;
}
.map_wrap .map .ouzhou{
	position: relative;
	position: absolute;
	left: 21.4%;
	top: 38px;
	
}
.map_wrap .map .ouzhou span{
	position: absolute;
	top: 40px;
	
}
.map_wrap .map .ouzhou:hover{
	
}

.map_wrap .map .dulianti{
	position: absolute;
	left: 27.17%;
	top: 14px;
	/* display: block; */
}
.map_wrap .map .beimei{
	position: absolute;
	left: 55%;
	
}
.map_wrap .map .nanya{
	position: absolute;
	left: 33.73%;
	top: 146px;
	
}
.map_wrap .map .feizhou{
	position: absolute;
	left: 19.5%;
	top: 175px;
	
}
.map_wrap .map .zhongdong{
	position: absolute;
	left: 27.85%;
	top: 149px;
	
}
.map_wrap .map .beiya{
	position: absolute;
	top: 108px;
	left: 38.5%;
	/* display: block; */
}
.map_wrap .map .china{
	position: absolute;
	top: 106px;
	left: 696px;
	/* display: block; */
}
.map_wrap .map .dongmeng{
	position: absolute;
	top: 238px;
	left: 776px;
}
.map_wrap .map .aozhou{
	position: absolute;
	top: 342px;
	left: 848px;
}
.map_wrap .map .zhongmei{
	position: absolute;
	top: 256px;
	left: 1202px;
}
.map_wrap .map .nanmei{
	position: absolute;
	top: 280px;
	left: 1238px;
}


.partener_wrap h1{
	font-size: 42px;
	color: #2D2D2D;
	text-align: center;
	margin-top: 128px;
	margin-bottom: 60px;
}
.partener_wrap .partener{
	padding: 0 160px 0 150px;
	margin-bottom: 100px;
}
.partener_wrap .partener a img{
	padding-bottom: 20px;
	padding-right: 20px;
	
}
.returntop{
	position: fixed;
	right: 0;
	bottom: 100px;
	width: 70px;
	height: 70px;
	background: #6E93BA;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
}
